<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p class="lead">In order to mine on this pool you need to have an
    <a href="https://github.com/ethereum-mining/ethminer" rel="nofollow" target="_blank">ethminer</a> installation
    pointed to<br/><code>stratum://&lt;YOUR_ETH_ADDRESS&gt;.&lt;RIG_ID&gt;@{{config.AppHost}}</code>
  </p>
  <dl class="dl-horizontal">
    <dt>YOUR_ETH_ADDRESS</dt>
    <dd>This is your address for payouts, generate one with geth, or mine directly to exchange like
      <a href="http://poloniex.com" rel="nofollow" target="_blank">Poloniex</a>
      or <a href="http://bittrex.com" rel="nofollow" target="_blank">Bittrex</a>.<br/>
      <strong>Example:</strong> <code>0x96a91FB60F3F8c22F638Bb83a24C7459D4dae326</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      ID of your farm to distinguish it from your other rig. If you have just one rig, feel free to omit this param.
      This param must be short alphanumeric string with optional dashes and underscores.<br/>
      <strong>Example:</strong> <code>rig-1</code>
    </dd>
  </dl>
  <p>
    <strong>Full example:</strong>
    <code>ethminer -U -P stratum://0x96a91FB60F3F8c22F638Bb83a24C7459D4dae326.myrig@{{config.AppHost}}</code>.<br/>
  </p>

  <h3>Stratum Mining with Stratum Proxy for Ethereum</h3>
  <p>Grab proxy from <a href="https://github.com/Atrides/eth-proxy" re="nofollow" target="_blank">eth-proxy GitHub repo</a>.</p>
  <p>Edit <code>eth-proxy.conf</code> and specify our pool's <code>HOST: {{config.StratumHost}}</code>, <code>PORT: {{config.StratumPort}}</code> and your <code>WALLET</code>.</p>

  <h3>Mining with Ether-Proxy</h3>
  <p>Use stable release of <a href="https://github.com/sammy007/ether-proxy/releases" target="_blank">Ethereum Solo/Pool Mining Proxy</a>.</p>

  <h3>Advice</h3>
  <p>CPU mining is not recommended.</p>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
